@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 60px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 64px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 1rem;
    color: #494949;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px ;
}

.section-m1 {
    margin: 40px;
}

button.normal {
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: .2s ease;

}

body {
    width: 100%;
    overflow-x: hidden;
}

/* NAVIGATION STARTS */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 10px 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.5s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;  
}

#mobile {
    display: none;
    align-items: center;
}

/* HERO SECTION */

#hero {
    background-image: url("img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0  80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}

#hero button {
   
    border: 1px solid #088178;
    border-radius: 50px;
    background-color: #088178;
    color: #fff;
    padding: 15px 80px ; 
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)
}

#hero button:hover {
    color: #088178;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
    background-image: url("img/button.png");
    background-color: transparent;
    background-position: center;
    background-size: cover;
}

/* FEATURE SECTION */

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    padding: 25px 15px;
    text-align: center;
    border: 1px solid #f7f7f7;
    box-shadow: 10px 10px 40px rgba(60, 60, 60, 0.5);
    border-radius: 5px;
    margin: 15px 0;
}

#feature .fe-box img {
    width: 100%;
    padding-bottom: 20px;
}

#feature .fe-box:hover {
    border: 2px solid #E3E6F3;
    box-shadow: 5px 5px 5px rgba(30, 30, 30, 0.3)

    
}

#feature .fe-box div {
    background: #5bc9a1;
    padding: 10px 15px ;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(30, 30, 30, 0.3)
}

#feature .fe-box:nth-child(2) div {
    background-color: #ac6bad;
}
#feature .fe-box:nth-child(3) div {
    background-color: #6df1d1;
}
#feature .fe-box:nth-child(4) div {
    background-color: #fac850;
}
#feature .fe-box:nth-child(5) div {
    background-color: #6262f4;
}
#feature .fe-box:nth-child(6) div {
    background-color: #e84862;
}


#feature .fe-box h4 {
    color: #fff;
    font-size: 1rem;
   ;
}

/* PRODUCT SECTION */

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    flex-wrap: wrap; 
}

#product1 .pro {
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0 ;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    margin: 14px;
    transition: 0.5s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(10, 10, 10, 0.2);

}

#product1 .pro img {
    background: #ccc;
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    font-size: 12px;
    color: #606063;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

 #product1 .pro .des i {
    padding: 5px 0 0;
    color: rgb(243, 181, 25);
    font-size: 12px;
 }

 #product1 .pro .des h4 {
    font-size: 15px;
    padding: 5px;
    font-weight: 700;
    color: #088178;   
 }

 #product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #e8f6ea;
    /* font-weight: 500; */
    color: #088178;
    position: absolute;
    right: 20px;
    bottom: 20px;
 }

 /* BANNER SECTION */

 #banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: inherit;
    text-align: center;
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    
 }

 #banner h4 {
    color: #fff;
    font-size: 1rem;
 }

 #banner h2 {
    color: #fff;
    font-size: 2rem;
    padding: 10px 0;
 }


 #banner h2 span {
    color: red;
 }

 #banner button:hover {
    background: #088178;
    color: #fff;
 }

 /* SMALL BANNER */
#sm-banner {
    display: flex;
    margin: 0 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url("img/banner/b17.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 50px;    
}

#sm-banner .banner-box h4 {
    color: #3f3f3f;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner .banner-box h2 {
    font-weight: 800;
}

#sm-banner span {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .sm-banner-btn {
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: 2px solid black;
    transition: .2s ease;
}

#sm-banner .banner-box:hover button {
    color: white;
    background-color: #088178;
    border: 2px solid #088178;
}

#sm-banner .banner-box2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(img/banner/b10.jpg);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 50px;  
     
}

#sm-banner .banner-box2 h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner .banner-box2 h2 {
    font-weight: 800;
    color: #fff;
}

#sm-banner .banner-box2 span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box2 button {
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 30px;
    color: #fff;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: 2px solid #fff;
    transition: .2s ease;
}

#sm-banner .banner-box2:hover button {
    color: white;
    background-color: #088178;
    border: 2px solid #088178;
}

/* CARDS SECTION */
#banner3 {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    padding: 0 60px;  
}
#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(img/banner/b7.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin-bottom: 20px;
}

#banner3 .banner-box3 {
    background-image: url(img/banner/b4.jpg);
}
#banner3 .banner-box4 {
    background-image: url(img/banner/b18.jpg);
}

#banner3 h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 900;

}
#banner3 h3 {
    color: #05ecdd;
    font-size: 1rem;
    font-weight: 800;
}

/* NEWSLETTER SECTION */

#newsletter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
    background-image: url("img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}
#newsletter p {
    color: #818ea0;
    font-size: 1rem;
    font-weight: 600;
}
#newsletter p span {
    color: #03c6b9;
}

#newsletter input {
    height: 3.2rem;
    width: 100%;
    font-size: 1rem;
    padding: 0 1.3rem;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
   
}

#newsletter button {
    background-color: #088178;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsletter button:hover {
    background-color: #036861;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

/* FOOTER SECTION */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 1rem;
    padding-bottom: 20px;
}

footer p {
    font-size: 0.9rem;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 0.9rem;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover {
    color:#088178;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 5px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

#close {
    display: none;
}


/* **** SHOP PAGE **** */

/* NAVIGATION */
#page-header {
    background-image: url('img/banner/b1.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2, #page-header p {
    color: #fff;
}

/* PAGINATION */
#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    padding: 15px 20px;
    background-color: #088178;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
}



/*  **** SINGLE PRODUCT PAGE **** */

#prodetails .single-pro-image {
    width: 25%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails {
    display: flex;
    margin-top: 20px;
} 

#prodetails .single-pro-details {
    width: 50%;
    padding: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 45px;
    padding-left: 10px;
    font-size: 1.2rem;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details button {
    background-color: #088178;
    color: #fff;
}

#prodetails .single-pro-details span {
    line-height: 25px;
}


/*  **** BLOG PAGE **** */
/* hero section */
#page-header.blog-header {
    background-image: url(img/banner/b19.jpg);
}

/* blog section */
#blog {
    padding: 150px 150px 0 150px; 
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    margin-bottom: 60px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 1rem;
    color: #000;
    font-weight: 700;
    position: relative;
}

#blog .blog-details a::after {
   content: "";
   width: 50px;
   height: 1px;
   background-color: #000;
   position: absolute;
   top: 4px;
   right: -60px;
}

#blog .blog-details a:hover {
    color: #088178;
    transition: .3s;
}

#blog .blog-details a:hover::after {
    background-color: #088178;
}

#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 4.5rem;
    font-weight: 700;
    color: #c9cbce;
    /* z-index: -1; */
}



/* RESPONSIVE MEDIA QUERIES */

/* MEDIUM SCREENS */
@media (max-width: 799px) {
    #section-p1 {
        padding: 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
        /* display navbar menu for smaller screens */
    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        padding-left: 20px;
        font-size: 1.5rem;
        color: #1a1a1a;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }


    /* hero section */
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box, #sm-banner .banner-box2 {
        min-width: 100%;
        height: 30vh;
    }

    #banner3 .banner-box {
        width: 28%;  
    }


    #banner3 .banner-box h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    #banner3 .banner-box h3 {
        font-size: 1rem;
    }


#newsletter .form {
    width: 70%;
}
}

/* SMALL SCREENS */
@media (max-width: 477px) {
    #header {
        padding: 10px 30px;
    }

    h2 {
        font-size: 50px;
    }

    h2 {
        font-size: 32px;
    }

    .section-p1 {
        padding: 20px; 
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #feature {
        justify-content: space-evenly;
    }

    #feature .fe-box {
        width: 150px;
        margin: 0 0 15px 0;
    }

    #prooduct1 .pro {
        width: 100%;  
    }

    #banner {
        height: 40vh;
    }

    #sm-banner .banner-box, #sm-banner .banner-box2 {
        height: 40vh;
        /* margin-bottom: 20px; */
    }

    #banner3 {
        padding: 0 20px;
    }

    #banner3 .banner-box {
        width: 100%;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

    fototer .copyright {
        text-align: start;
    }

    /* single prodict page */
    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-image {
        width: 100%;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }

    /* BLOG PAGE */
    #blog {
        padding: 100px 20px 0px 20px;
    }

     #blog .blog-box {
        flex-direction: column;
        align-items: flex-start;
     }

     #blog .blog-img {
        width: 100%;
        margin-bottom: 40px;
    }

     #blog .blog-details {
        width: 100%;
        margin-bottom: 40px;
    }
}